* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	width: 100%;
	font-family: sans-serif;
	font-size: 16px;
}
																	/*------ FOOTER START ------*/
.footer {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 2em;
	width: 100%;
	padding: 80px 120px 50px 15%;
	/* Appearance */
	background: #212046;
}

.footer-container {
	/* Layout */
	display: inline-flex;
	flex-direction: row;
	gap: 6em;
}

@media all and (max-width: 768px) {
	.footer-container {
		flex-direction: row;
		gap: 2em;
	}
}

@media all and (max-width: 480px) {
	.footer-container {
		flex-direction: column;
		gap: 2em;
	}
}

.footer-content, .footer-social {
	/* Appearance */
	/* Text */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #464664;
}

.footer-content {
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: .4em;   
}

.footer-content a {
	/* Appearance */
	/* Text */
	color: #959596;
	text-decoration: none;
}

.footer-content a:first-of-type {
	/* Text */   
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #464664;
}

@media all and (max-width: 768px) {
	.footer-content a:first-of-type {
	font-size: 12px;
	color: #959596;
	}

	.footer-content a:not(:first-child) {
	display: none;
	}
}

.footer-social p {
	/* Text */    
	text-transform: uppercase;
	letter-spacing: 4px;
}

.footer-social button {
	/* Layout */
	margin: 1em .3em 0 0;
	border: none;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	/* Appearance */
	background-color: white;
}

.footer-social img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 24px;
	object-fit: cover;
	overflow: hidden;
}

#copyright {
	/* Layout */
	padding: 15px 15%;
	/* ---Appearance--- */
	background-color: #8E2525;
	color: #979797;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
																	/* ---- FOOTER END ---- */