* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	display: flexbox;
	flex-direction: ;
	background-color: #2C2C2C;
	justify-content: center;
	align-items: center;
	text-align: left;
}

nav {
	float: left;
	width: 12%;
	height: 100vh;
	background-color: #1d2126;
	padding: 20px;
}

li {
	display: flex;
	color: #F2F2F2;
	justify-content: right;
	text-align: center;
	padding-right: 20px;
	border: 1px solid #F2F2F2;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 15px;
}

.border {
	border-left: 1px solid #F79533;
	height: 100vh;
  position: absolute;
  left: 12.3%;
  margin-left: -3px;
  top: 0;
}

h1 {
	color: #F2F2F2;
}

h2 {
	color:  #F79533;
}

p {
	color: #F79533;
}
